## 2024年中央大学向け実習
2024-11-12

<a href="https://colab.research.google.com/github/makaishi2/samples/blob/main/notebooks/sophia_handson_v01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 事前準備

#### ライブラリの導入・インポート

In [1]:
%matplotlib inline
# 日本語化ライブラリ導入
!pip install japanize-matplotlib | tail -n 1

Successfully installed japanize-matplotlib-1.1.3

In [2]:
# ライブラリのimport

# NumPy用ライブラリ
import numpy as np

# Matplotlib中のpyplotライブラリのインポート
import matplotlib.pyplot as plt

# matplotlib日本語化対応ライブラリのインポート
import japanize_matplotlib

# pandas用ライブラリ
import pandas as pd

# データフレーム表示用関数
from IPython.display import display

# seaborn
import seaborn as sns

# 表示オプション調整

# NumPy表示形式の設定
np.set_printoptions(precision=3, floatmode='fixed')

# グラフのデフォルトフォント指定
plt.rcParams["font.size"] = 14

# サイズ設定
plt.rcParams['figure.figsize'] = (6, 6)

# 方眼表示ON
plt.rcParams['axes.grid'] = True

# データフレームでの表示精度
pd.options.display.float_format = '{:.3f}'.format

# データフレームですべての項目を表示
pd.set_option("display.max_columns",None)

### データの読み込み

In [4]:
# CSVファイルの配置場所
url = 'https://github.com/makaishi2/sample-data/raw/refs/heads/master/data/titanic.csv'

# CSVファイルをデータフレーム変数dfに取り込む
df = pd.read_csv(url)

# 先頭5行の常時
display(df.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000,1,0,7.250,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.000,1,0,71.283,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000,0,0,7.925,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000,1,0,53.100,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000,0,0,8.050,S,Third,man,True,NaN,Southampton,no,True

### 実習

以下のテキストをchat-GPT(Python)にコピペしてください

```
次のCSVデータの分析をします。
データはデータフレーム変数dfに入っています。
これは前提の説明なので、まだ返事は不要です。

survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,3,male,22.0,1,0,7.25,S,Third,man,True,,Southampton,no,False
1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
1,3,female,26.0,0,0,7.925,S,Third,woman,False,,Southampton,yes,True
1,1,female,35.0,1,0,53.1,S,First,woman,False,C,Southampton,yes,False
0,3,male,35.0,0,0,8.05,S,Third,man,True,,Southampton,no,True
```

### 男女別の生存率のグラフ表示

以下のテキストをChat-GPT(Python)に貼り付けます

```
男女の生存率をグラフ表示するコードを生成してください
```

Chat GPT(Python)で生成したコードを以下のセルに貼り付けて実行します

In [ ]:
# Char GPTで生成したコードを貼り付けます

### 課題問題
ChatGPTのコード生成機能を用いて以下のグラフを描画しなさい

1. 客室別の生存率を比較したグラフ
2. 乗船港別の生存率を比較したグラフ

In [8]:
# 客室別生存率を比較するグラフを表示するコードをはりつけます

In [9]:
# 乗船港別生存率を表示するコードをはりつけます